* {
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
        url("images/background.png");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family:sans-serif;
}
main {
    width: 70%;
    height: 60%;
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
}

main>p{
    font-size: 2rem;
}
main>h2{
    font-size: 3.5rem;
}
.para{
    font-size: 1.2rem;
}
.submit{
    display: flex;
}
#email{
    width:  22rem;
    height: 2.5rem;
    border: none;
    padding: 1.1rem;
    outline: none;
}
#email::placeholder{
    font-size: 1rem;
}
.btn{
    width: 80px;
    height: 4.7rem;
    border: none;
    background-color: #14e065;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon{
    width: 2rem;
    height: 2rem;
}