*{
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-box{
    position: relative;
    background-image: url('images/background.png');
    width:710px;
    height: 370px;
}
.wrap-img{
    width:710px;
    height: 370px;
    position: absolute;
}