*{
    padding: 0;
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    height: 720px;
    width: 480px;
    background-image: linear-gradient(135deg, #D387AB 10%, #E899DC 100%);
    border-radius: 5px;
    box-shadow: 1px 1px 6px 1px  #E899DC;
}

.top{
    display: flex;
    margin: 28px 10px 0 50px;
    width: 100%;
}
.top i{
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f22fd5 ;
    cursor: pointer;
}
.top i:nth-child(2) {
    margin: 0 100px 0 auto;
    cursor: pointer;
}

.center{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 3rem;
}
.cover-img{
    border-radius: 50%;
    width: 45%;
    height: 45%;
    border: 5px solid white;
}

.bottom{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}
input[type="range"]{
    -webkit-appearance: none;
    width: 80%;
    height: 9px;
    border-radius: 50px;
    cursor: pointer;
    background-color: #ff00e6;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 26px;
    width: 26px;
    background: #fb4ee1;
    border: 2px solid #333;
    border-radius: 50%;
    cursor: pointer;
    border: 5px solid white;
    outline: 2px solid #ff1ae1;
}
.controls{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.3rem;
    margin-top: 7rem;
}
.controls i:nth-child(1),.controls i:nth-child(3){
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f22fd5;
    box-shadow: 0 0 12px 1px #f22fd5;
    cursor: pointer;
}
.controls i:nth-child(2){
    width: 70px;
    height: 70px;
    background-color: #fff;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f22fd5 ;
    color: #fff;
    box-shadow: 0 0 12px 1px #f22fd5;
    cursor: pointer;
}