:root {
    --color: #1dd1a1;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color);
}

.container {
    height: 40%;
    width: 22%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: #fff;
    padding: 2.5rem;
    border-radius: 3px;
}

.login {
    border-left: 20px solid var(--color);
    padding-left: 10px;
}

.name,
.password {
    height: 3rem;
    border: 1px solid black;
    padding-left: 1rem;
    font-size: 16px;
    outline: none;
}
.submit {
    height: 3rem;
    border: none;
    background-color: var(--color);
    color: white;
    cursor: pointer;
}

.bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.bottom>.signup {
    text-decoration: underline;
}

.colors{
    position: absolute;
    right: 0;
    top: 40%;
    background-color: white;
    width: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
}
.colors span{
    position: relative;
    width: 30px;
    height: 30px;
    background: var(--clr);
    border-radius: 50%;
    cursor: pointer;
}
.colors span.active{
    border: 2px solid black;
    transform: scale(1.3);
}