*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #006d77;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.clock-card{
    height: 80vh;
    width: 90vw;
    background-color: #83c5be;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    gap: 1rem;
}
.clock-card>h1{
    font-size: 2.4rem;
}
.clock{
    width: 10rem;
    background-color: #ffddd2;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #e29578;
    padding: 10px;
    border-radius: .3rem;
    font-weight: bold;
}